#heading {
  background-color: grey;
  padding: 50px;
  text-align: center;
  border: 5px solid green;
}

#form_section {
  display: inline-block;
  border: 2px solid red;
}

#destination_display {
  display: inline-block;
  border: 2px solid blue;
}

#wishlist_heading {
  text-align: center;
}
